.login-head {
    color: #ffffff;
  }
  .mylabel {
    color: #ffffff;
    font-weight: normal;
  }
  
  .myinput {
    padding: 15px 10px;
    font-size: 16px;
  }
  
  .forgotpassword a {
    color: #ffffff;
    cursor: pointer;
  }
  