<div *ngIf="errMsg" style="color: red" [innerHtml]="errMsg"></div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group mygroup">
      <label class="mylabel" for="password"> Password:</label>
      <input
        class="form-control myinput"
        type="password"
        [(ngModel)]="password"
        required
        name="password"
        (change)="validate()"
      />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group mygroup">
      <label class="mylabel" for="password">Confirm Password:</label>
      <input
        class="form-control myinput"
        type="password"
        [(ngModel)]="confirmPassword"
        required
        name="password"
        (change)="validate()"
      />
    </div>
  </div>
</div>

